﻿<%@ Page Title="Rejestracja" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Register.aspx.cs" Inherits="Potal_Praca.Account.Register" %>
   
  <asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent"> </asp:Content>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent"> 
        <p>
            Zaznacz czy jesteś osobą posiadającą firmę i szukasz pracowników czy bezrobotnym 
            który szuka pracy:
        </p>
        
        <asp:radiobuttonlist id="radio_list" runat="server"  AutoPostBack="true">
            <asp:listitem id="Register_radio1" runat="server" Text="Jestem osbą która szuka pracy" Selected="true" value="1" />
            <asp:listitem id="Register_radio2" runat="server" Text="Jestem właścicielem firmy/Osobą która reprezentuje 
                                                                    firmę i szukam pracowników" value="2" />
        </asp:radiobuttonlist>
            
        <br />
        <br />
        <br />
            
        <asp:Button ID="register_choose" runat="server" Height="21px" Text="Dalej" OnClick="Check"
           Width="65px" style="position:absolute; margin-left:800px" />
       
    <br />
    <br />
    <br />
    <br />

</asp:Content>
