﻿<%@ Page Title="Aktywacja" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Register_Activate.aspx.cs" Inherits="Potal_Praca.Register.Register_Activate" %>

<asp:Content ID="Head" ContentPlaceHolderID="HeadContent" runat="server">

<style type="text/css">
        #Label_Align
        {
           text-align: center;
           font-size: large;
        }
 </style>

</asp:Content>

<asp:Content ID="Body" ContentPlaceHolderID="MainContent" runat="server">
    
    <div id="Label_Align">
        <asp:Label ID="Activate_Label" runat="server" Text=""> </asp:Label>
    </div>

</asp:Content>

