﻿<%@ Page Title="Wyloguj" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
CodeBehind="Logout.aspx.cs" Inherits="Portal_Praca.Account.Logout" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<h1>Zostałeś wylogowany</h1>
</asp:Content>
