﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
CodeBehind="About.aspx.cs" Inherits="Portal_Praca.About" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
 <h2>
        O nas.
    </h2>
    <p>
        Jesteśmy grupą która tworzy systemy informatyczne opertę o najnowszą technologie. <br />
        Serwis <b>Portal Praca</b> powstał ponieważ jest to zautomatyzowany system dla <br />
        ludzi którzy szukają zarówno pracy jak i pracowników. <br />
        <br />
        Zapraszamy !!!
    </p>
</asp:Content>
