﻿<%@ Page Title="Klasyfikacja Zawodów i Specjalności" Language="C#" MasterPageFile="~/Site.Master" 
AutoEventWireup="true" CodeBehind="Occupation_Index.aspx.cs" Inherits="Portal_Praca.Occupation_Index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="table1">
        <asp:Table ID="Table1" runat="server"  Width="962px" Height="100%" BackColor="White" BorderStyle="Solid"> </asp:Table>
    </div>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="left_content" runat="server">

</asp:Content>
